body {
    background-color: #DCDCDC;
}

.main {
    background-color: white;
    height: 800px;
    margin-top: 30px;
    border-radius: 5px;
}

.title {
    text-align: center;
}

.form-container {
    align-content: center;
    text-align: center;
    padding-top: 80px;
}

.botao-container {
    margin: auto;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.botao {
    width: 130px;
}

.botaozao {
    width: 150px;
}


.my-table {
    overflow: auto;
    height: 380px;
}

.display{
    width: 100%;
    height: 300px;
}

.littlebutton {
    height: 30px;
    width: 40px;
    padding-left: 2px;
    padding-left: 3px;
}